body {background-color: whitesmoke;
      align-content: center;
      align-self: center;
}

#groupname {
	height: 20px;
	color: yellow;
	font-size: 100%;
	font-family: arial;
	font-weight: bold;
	font-weight: bolder;
	text-align: center;
	background-color: black;
}

.corpo {
	align-content: center;
	color: green;
	margin-left: 20px;
	text-align: center;
		
}


td {
	border-bottom-style: none;
	background-color: transparent;
	border-bottom-width: thin;
	
}


#grouptime {
	height: 40px;
	color: #497fb7;
	font-size: 100%;
	font-family: arial;
	font-weight: bold;
	font-weight: bolder;
	text-align: left;
	margin-top: 10px;
	background-color: green #white;
   padding-left: 20px;
}

.blocktext {
	margin-left: 30px;
}

#caixa {
	width: 100px;
	height: 74px;
	background-color: transparent;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	align-content: center;
}

.ipaddress {
	font-family: arial;
	font-size: 80%;
}

#imagens {
	align-content: center;
}

p {
	text-decoration: none;
   color: none;
   font-size: 0;
}
