<?xml version=1.0 encoding=UTF-8 ?>
<!-- file setup config.xml for infodevicetools serial=1602384567 -->
<config>
   <exec>/opt/simbadr/bin/</exec>
   <library>/opt/simbadr/lib/simbadr/</library>
   <backup>/opt/simbadr/var/log/simbadr/backup/</backup>
   <front-end>/opt/simbadr/var/www/html/simbadr/</front-end>
   <xml-files>/opt/simbadr/var/www/html/simbadr/xml/</xml-files>
   <reports>/opt/simbadr/var/log/simbadr/reports/</reports>
   <qrcodes>/opt/simbadr/var/log/simbadr/reports/qrcodes/</qrcodes>
   <images>
      <devices>/opt/simbadr/var/www/html/simbadr/images/devices/</devices>
      <enterprise>/opt/simbadr/var/www/html/simbadr/images/enterprise/</enterprise>
      <network>/opt/simbadr/var/www/html/simbadr/images/network/</network>
   </images>   
   <help>/opt/simbadr/share/simbadr/tutorial/</help>
   <setup>/etc/simbadr/</setup>
   <history>/opt/simbadr/var/log/simbadr/history/</history>
   <groups>
      <global>/opt/simbadr/var/log/simbadr/blocks/00/</global>
      <group01>/opt/simbadr/var/log/simbadr/blocks/01/</group01>
      <group02>/opt/simbadr/var/log/simbadr/blocks/02/</group02>
      <group03>/opt/simbadr/var/log/simbadr/blocks/03/</group03>
      <group04>/opt/simbadr/var/log/simbadr/blocks/04/</group04>
      <group05>/opt/simbadr/var/log/simbadr/blocks/05/</group05>
      <group06>/opt/simbadr/var/log/simbadr/blocks/06/</group06>
      <group07>/opt/simbadr/var/log/simbadr/blocks/07/</group07>
      <group08>/opt/simbadr/var/log/simbadr/blocks/08/</group08>
      <group09>/opt/simbadr/var/log/simbadr/blocks/09/</group09>
      <group10>/opt/simbadr/var/log/simbadr/blocks/10/</group10>
      <group11>/opt/simbadr/var/log/simbadr/blocks/11/</group11>
      <group12>/opt/simbadr/var/log/simbadr/blocks/12/</group12>
      <group13>/opt/simbadr/var/log/simbadr/blocks/13/</group13>
      <group14>/opt/simbadr/var/log/simbadr/blocks/14/</group14>
      <group15>/opt/simbadr/var/log/simbadr/blocks/15/</group15>
      <group16>/opt/simbadr/var/log/simbadr/blocks/16/</group16>
      <group17>/opt/simbadr/var/log/simbadr/blocks/17/</group17>
      <group18>/opt/simbadr/var/log/simbadr/blocks/18/</group18>
      <group19>/opt/simbadr/var/log/simbadr/blocks/19/</group19>
      <group20>/opt/simbadr/var/log/simbadr/blocks/20/</group20>
      <group21>/opt/simbadr/var/log/simbadr/blocks/21/</group21>
      <group22>/opt/simbadr/var/log/simbadr/blocks/22/</group22>
      <group23>/opt/simbadr/var/log/simbadr/blocks/23/</group23>
      <group24>/opt/simbadr/var/log/simbadr/blocks/24/</group24>
      <group25>/opt/simbadr/var/log/simbadr/blocks/25/</group25>
      <group26>/opt/simbadr/var/log/simbadr/blocks/26/</group26>
      <group27>/opt/simbadr/var/log/simbadr/blocks/27/</group27>
      <group28>/opt/simbadr/var/log/simbadr/blocks/28/</group28>
      <group29>/opt/simbadr/var/log/simbadr/blocks/29/</group29>
      <group30>/opt/simbadr/var/log/simbadr/blocks/30/</group30>
      <group31>/opt/simbadr/var/log/simbadr/blocks/31/</group31>
      <group32>/opt/simbadr/var/log/simbadr/blocks/32/</group32>
      <group90>/opt/simbadr/var/log/simbadr/blocks/90/</group90>
      <group91>/opt/simbadr/var/log/simbadr/blocks/91/</group91>
      <group92>/opt/simbadr/var/log/simbadr/blocks/92/</group92>
      <group93>/opt/simbadr/var/log/simbadr/blocks/93/</group93>
      <group94>/opt/simbadr/var/log/simbadr/blocks/94/</group94>
      <group95>/opt/simbadr/var/log/simbadr/blocks/95/</group95>
      <group96>/opt/simbadr/var/log/simbadr/blocks/96/</group96>
      <group97>/opt/simbadr/var/log/simbadr/blocks/97/</group97>
      <group98>/opt/simbadr/var/log/simbadr/blocks/98/</group98>
      <group99>/opt/simbadr/var/log/simbadr/blocks/99/</group99>
   </groups>	
</config>
